<div class="span6 offset9 boxy text-center">
	<h1 class="h1-custom"> Awesomest Photo Album using Ruby! </h1>
	
	<br/>

	<h2> Coding is rad! </h2>

	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large'    %>


</div>