

	<% @pics.each do |pic| %>
	<div class="Span4 Offset5 boxy text-center">

		<h1 class="h1-custom"> Lesson: <%= pic.lesson %> </h1>
		<br/>

		Emotion: <%= pic.emotion %>
		<br/>

		Learned: <%= pic.learned %>
		<br/>

	</div>

	<% end %>


